$primary-color: black ;
$secondary-color: #784d3c;
$background-color: #ececec;
$show-home-image: true;
$home-image: url("../img/banner.jpg");
$background-opacity: 0.9;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  color:set-text-color($background-color);
  background: $background-color;
  color: set-text-color($background-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

h1,h2,h3,h4{
  font-family: 'PT Sans', san-serif;
}
h1{
  font-size: 4.8rem;
}

h2{
  font-size: 4rem;
  line-height: 1.2;
}

h3{
  font-size: 3.2rem;
  line-height: 1.3;
}

h4{
  font-size: 2.8rem;
  line-height: 1.2;
}

img{
  max-width: 100%;
}

// * Utilides

@mixin background{
  background-image: $home-image;
  background-position: center center;
  background-size: cover;
  min-height: 42rem;
  height: 70vh;
}

@mixin easeOut {
  transition: all 0.5s ease-out
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.centrar-texto{
  text-align: center;
}

.m-0{
  margin:0;
}

// =======================
.seccion{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fw-300{
  font-weight: 300;
}



.contenido-centrado{
  max-width: 80rem;
}

// * Grid
@media (min-width: 768px ) {
  .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .centrar-columnas{
    justify-content: center;
  }
  .columnas-4{
    flex: 0 0 calc( 33.3% - 1rem );
  }
  .columnas-6{
    flex: 0 0 calc( 50% - 1rem );
  }
  .columnas-8{
    flex: 0 0 calc( 66.6% - 1rem );
  }
  .columnas-10{
    flex: 0 0 calc( 83.3% - 1rem );
  }
  .columnas-12{
    flex: 0 0 100%;
  }
}

//* Botones

.btn{
  display: block;
  flex: 0 0 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
  margin-top: 2rem;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover{
    cursor: pointer;
  }
}
@media (min-width: 768px ) {
  .btn{
    display:inline-block;
    flex: 0 0 auto;
  }
}

.btn-primario{
  background-color: $primary-color;
  color: set-text-color( $primary-color );
}

.btn-secundario{
  background-color: $secondary-color;
  color: set-text-color( $primary-color );
}





